* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0px;
}

body {
    background: hsl(225, 100%, 94%);
    overflow: hidden;
}

#order_summary-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;    
    background-image: url(../order-summary-component-main/images/pattern-background-desktop.svg);
    background-position: top center;    
    background-repeat: no-repeat;
    background-size: contain;    
    /* padding: 5% 37%; */
}

#container_one {    
    width: 30%;
    height: 80%;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5vw;    
    overflow: hidden;
}

#container_illustraitor-hero {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin: 0px;    
}

#image_illustration-hero {    
    height: 100%;    
    width: 100%;
}

#text_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7% 10%;
    padding-bottom: 0px;
}

#principal_title {
    color:hsl(223, 47%, 23%);
    font-size: 1.7vw;  
    margin-top: 0.8vw;  
    font-weight: 900; 
}

#information_description {
    color: hsl(224, 23%, 55%);
    font-size: 1vw;
    margin-bottom: 1.4vw;
    margin-top: 0.8vw;
}

#container_anual-plan {
    display: flex;
    height: 5.5vw;
    background: hsl(225, 100%, 98%);
    width: 100%;
    border-radius: 0.7vw;
    align-items: center;
    padding: 0px 7%;
    margin-bottom: 2vw;
}

.anual_plan-parameter {
    display: flex;
}

#container_icon-music {
    width: 15%;
    margin-right: 1.2vw;
}

#icon_music {
    width: 100%;
}

#anual_plan-section2 {
    width: 50%;
    text-align: left;
    margin-right: 2.5vw;
}

#secondary_title {
    color:hsl(223, 47%, 23%);
    font-size: 1vw;
}

#information_value {
    color: hsl(224, 23%, 55%);
    font-size: 1vw;
}

#option_change {
    color: hsl(245, 75%, 52%);
    font-size: 0.8vw;    
    font-weight: 700;
    text-decoration: none;
}

#option_change:hover {
    text-decoration: underline;
}

.button_option {
    display: flex;
    width: 100%;
    height: 3vw;
    align-items: center;
    justify-content: center;
    border-radius: 0.7vw;
    font-weight: bold;
    font-size: 0.9vw;
    text-decoration: none;
    margin-bottom: 0.5vw;
}

#button_buy {   
    background: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    box-shadow: 0 0.3vw 2.5vw hsla(245, 75%, 52%, 0.418);    
}

#button_buy:hover {
    background: hsl(245, 70%, 58%);
}

#button_cancel {
    color: hsl(224, 23%, 55%);
    /* margin-bottom: 1.5vw; */
}

#button_cancel:hover {
    color: hsl(223, 47%, 23%);
}

.attribution {
    font-size: 0.8vw;
    text-align: center;
    color: hsl(228, 45%, 44%);
    margin-bottom: 2.5vw;
}

@media only screen and (max-width: 800px) {

    body {
        overflow: unset;
    }

    #order_summary-card {
        justify-content: unset;
        height: 100%;
    }
    
    #container_one {
        margin: 8%;
        width: 80%;
        height: auto;
        border-radius: 3vw;
    }

    #principal_title {        
        font-size: 5.1vw;  
    }
    
    #information_description {
        font-size: 4vw;
        line-height: 7vw;
        margin-top: 4vw;
        margin-bottom: 5vw;
    }

    #container_anual-plan {
        height: 15.5vw;
        width: 100%;
        border-radius: 2vw;        
        padding: 0px 7%;
        margin-bottom: 4vw;
    }

    #secondary_title {        
        font-size: 3vw;
    }
    
    #information_value {
        color: hsl(224, 23%, 55%);
        font-size: 4vw;
    }
    
    #option_change {
        font-size: 3.2vw;            
    }

    .button_option {
        height: 10vw;
        align-items: center;
        justify-content: center;
        border-radius: 2vw;        
        font-size: 3.6vw;
        margin-bottom: 0.5vw;
    }

    .attribution {
        font-size: 2.5vw;
        margin-bottom: 5vw;
    }
}